@model AirQuality.Web.Models.ViewModels.Cities.CitiesDataViewModel
@{
    ViewData["Title"] = "City Data";

    if (Model == null)
    {
        return;
    }
}

<h1>Locations for @(Model.City)</h1>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Coordinates</td>
            <td>Last Updated</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model.Locations)
        {
            <tr>
                <td>@location.Id</td>
                <td>@location.Name</td>
                <td>@location.Coordinates.ToString()</td>
                <td>@location.LastUpdated.ToShortDateString()</td>
                <td>@Html.ActionLink("View data", "Data", "Location", new { @locationId = location.Id }, new { @class = "btn btn-primary", @style = "color:white" })</td>
            </tr>
        }
    </tbody>
</table>
